{% extends 'layouts\layout.html' %}

{% block content %}
<div class="page-blog">
    <div class="main-categories">
        <div class="main-categories__category">
            {% include 'posts/for_categories.html' %}
        </div>
        <a  class="create-article-menu" href="{% url 'Crear-articulo' %}">
            <div class="title-create-article">
                Crear articulo
            </div>
        </a>
    </div>
    <div class="main-blog">
        <h1 class="title-category-individual">{{category.name}}</h1>
        <div class="main-blog__articles">
            {% include 'posts/for_articles.html' %}
        </div>

        <div class="main-blog__pagination">
            {% include 'posts/pagination.html' %}
        </div>
    </div>
</div>
{% endblock %}