{% extends 'layouts\layout.html' %}


{% block content %}

{% include 'posts/for_categories.html' %}

<article class="content-main-blog">

    <form action="{% url 'Crear-articulo' %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="user" name="user" value="{{user.id}}">

        {{form.as_p}}

        <p>
            <label for="categorias">Categorias:</label>
            <select multiple name="categoria" id="categoria">
                {% for c in categories %}

                <option>{{c.1}}</option>
                {% endfor %}
            </select>
        </p>

        <input type="submit" value="Guardar">
    </form>
    <a href="{% url 'Blog' %}">

        <input type="button" class="bottom-form" value="Atras">

    </a>
</article>
{% endblock %}