{% extends 'layouts\layout.html' %}


{% block content %}

{% include 'posts/for_categories.html' %}

<div class="content-main-blog">

    <form action="{% url 'Crear-articulo' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="user" name="user" value="{{user.id}}">

        {{form.as_p}}</br>

        <p>
            <label for="categorias">Categorias:</label>
            <select multiple name="categoria" id="categoria">
                {% for c in categories %}

                <option>{{c.1}}</option>
                {% endfor %}
            </select>
        </p>
        <br>
        <label for="imagen">Imagen : </label>
        <input type="file" name="imagen" id="imagen">
        <br>
        <input type="submit" value="Guardar">
    </form>
    <a href="{% url 'Blog' %}">

        <input type="button" class="bottom-form" value="Atras">

    </a>
</div>
{% endblock %}