{% for article in articles %}     
    
    <a href="{% url 'Blog_p' slug=article.slug  %}" Class="box-blog" >
        <h2 class="h1-blog"> {{article.title.upper}}</h2>

    <!-- No mostrar imagen por default cuando el articulo no la contiene -->

        <div  class="div-image">
            <img class="image" src="{{article.image.url}}" >
        </div>
    <!-- ------------------------------------------------------------ -->

        <div class="date">
            <h3>Creado el: </h3>
                {{article.user}}
            <h3>Creado por: </h3>
                {{article.created_at}}
        </div>
    </a> 

{% endfor %}