<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../../static/CSS/styles.css">
</head>

<body class="grid-container">

    <!-- ------------------------------------------------------------ -->

    <header class="header">
        <nav class="nav">
            <a href="/admin" class="nav-li__link">Logo</a>
            <!-- Cambiar el enlace -->

            <ul class="nav-menu">
                <li class="nav-li">
                    <a href="{% url 'Inicio' %}" class="nav-li__link">Inicio</a>
                </li>
                <!-- Si estamos identificados -->
                {% if user.id %}

                <li class="nav-li">
                    <a href="{% url 'Blog' %}" class="nav-li__link">Blog</a>
                </li>
                <li class="nav-li">
                    <a href="{% url 'Logout' %}" class="nav-li__link">Logout</a>
                </li>
                <!-- Si No estamos identificados -->
                {% else %}
                <li class="nav-li">
                    <a href="{% url 'Registro' %}" class="nav-li__link">Registrarse</a>
                </li>
                <li class="nav-li">
                    <a href="{% url 'Login' %}" class="nav-li__link">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <!-- ------------------------------------------ -->
    <aside class="sidebar">
        {% if user.id is None %}

        <h1>No has iniciado sesion</h1>
        {% else %}

        <h1>{{user}}</h1>
        <h1>{{user.email}}</h1>

        {% endif %}
    </aside>
    <!-- ------------------------------------------ -->

    <article class="main">
        {% block content %} {% endblock %}
    </article>

    <!-- ------------------------------------------ -->
    <footer class="footer">
        <p>Proyecto Blog con Django 2021 -- Cristhian Rave</p>
    </footer>
    <!-- ------------------------------------------ -->
</body>

</html>