{% extends 'layouts\layout.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<div Class="content-index">

    {% if messages %}

    {% for message in messages %}

    <div class="alert">
        {{message}}
    </div>

    {% endfor %}

    {% endif %}
    <h1 Class="content-index__title">Pagina de Inicio</h1>
    {{Page.1}}

    <div class="content-index__p">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper justo condimentum lorem
            aliquam, nec fermentum sapien vestibulum. Quisque vulputate cursus urna, eu imperdiet justo. Curabitur a
            pharetra ligula. Curabitur egestas urna sit amet urna rhoncus facilisis. Curabitur sit amet consectetur
            eros. Praesent eget sollicitudin enim. Suspendisse ut dolor a orci ornare vulputate at sed justo. Etiam
            sodales semper diam ac elementum. Fusce vitae posuere tortor, a dictum elit. Ut pretium felis eget justo
            sollicitudin, sit amet varius erat sollicitudin. Praesent ultricies sit amet erat quis euismod. Suspendisse
            potenti. Maecenas aliquam consequat enim vel bibendum. Mauris eget ipsum arcu. Nunc pretium, turpis nec
            sollicitudin volutpat, dolor lacus placerat sem, quis egestas eros purus sit amet ipsum. Aliquam at metus et
            velit laoreet congue.
            Aliquam nec eros id ex lacinia aliquam. Donec volutpat libero non facilisis aliquet. Nullam ornare eu lectus
            non varius. Phasellus nec purus turpis. Fusce quis tempus sapien. Pellentesque luctus mi sit amet dui mollis
            cursus. Donec sollicitudin sit amet nulla iaculis consequat. Ut rhoncus leo sed nunc ultrices congue. Mauris
            a eros urna. Integer in felis maximus, tristique odio a, lacinia sem. Nunc eget convallis erat, vel varius
            ex. Sed tincidunt sed felis in semper. Aliquam ullamcorper aliquet turpis, sit amet consectetur odio
            tincidunt vitae. In molestie molestie nibh, vel pellentesque nisl vulputate id. Aenean tincidunt sem vitae
            luctus efficitur. Nullam egestas quam nulla, eu porttitor neque ultricies vitae.
            Donec in massa magna. Suspendisse elementum dui vitae dui tempus ultricies. Praesent nunc mauris, aliquam
            viverra eros vitae, egestas tincidunt augue. Donec vitae nisi nec quam varius molestie eget eu sapien.
            Pellentesque facilisis sagittis mauris, nec vulputate urna pretium non. Vivamus eget placerat elit. Praesent
            libero eros, gravida in arcu ac, sodales dapibus felis. Vivamus egestas malesuada nisi eu vulputate.
            Mauris ex lacus, eleifend in rutrum ac, cursus vel erat. Nullam dictum, diam quis consectetur pellentesque,
            odio turpis dapibus odio, non imperdiet lorem lectus vitae metus. Fusce non quam tempus, sagittis ligula
            eget, vulputate est. Nulla et dolor faucibus, blandit elit dignissim, facilisis erat. Vestibulum imperdiet
            fermentum diam, non scelerisque mi aliquet in. Ut a nibh eros. Duis egestas nibh vitae diam sodales, non
            luctus urna sodales. Integer a nibh sit amet leo vestibulum mattis sit amet vel est.
            Suspendisse facilisis hendrerit nisl eu pulvinar. Praesent ac sapien vestibulum nibh consectetur malesuada.
            Fusce ac ultricies odio. Quisque sit amet tellus quis ex sollicitudin hendrerit. Vestibulum tellus lectus,
            pellentesque vitae magna eget, ullamcorper pellentesque purus. Aliquam maximus felis vel erat finibus
            sodales. Aliquam erat volutpat. Donec vulputate convallis suscipit. Mauris feugiat tincidunt neque, et
            accumsan ante tempor id. Suspendisse interdum nulla vitae eros lobortis, a iaculis magna convallis. Vivamus
            dictum, elit nec eleifend condimentum, nisi eros efficitur purus, nec rhoncus orci tellus non dolor.
        </p>
    </div>
</div>


{% endblock %}