{% extends 'layouts\layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
<article class="content-main">
    <div class="content-box">
        <h1 class="titles">{{title}}</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

        <form class="login" method="post" action="">
            {% csrf_token %}
    
            <label class="label" for="username">Usuario</label>
            <input type="text" name="username" placeholder="Nombre">
    
            <label class="label" for="Password">Contraseña</label>
            <input type="password" name="password" placeholder="password">
    
            <input class="bottom-form" type="submit"  value="Entrar">
        </form>

    </div>
</article>

{% endblock %}